img {
  margin: auto;
  position: relative;
  height: 300px;
  width: 500px;
}

#blog-title {
  margin: auto;
  position: relative;
  left: 50%;
  font-size: 50px;
  padding-left: 1px;
  padding-right: 1px;
}

ul {
  display: inline-block;
  position: relative;
  bottom: 350px;
  margin-top: 500px;
  margin-right: 200px;
  margin-left: 100px;

}

ul li {
  list-style: none;
}

li {
  border: 1px solid #000000;
  height: 55px;
  width: 155px;
  font-size: 25px;
}

.align {
  display: inline-block;
}

section {
  width: 500px;
  padding-left: 1px;
  padding-right: 1px;
}