img {
  margin: 0 auto;
  position: relative;
  left: 25%;
  height: 300px;
  width: 500px;
}

#blog-title {
  margin: 0 auto;
  position: relative;
  left: 32%;
  font-size: 50px;
  padding-left: 1px;
  padding-right: 1px;
}

ul {
  display: inline-block;
  position: relative;
  bottom: 50px;
  margin-top: 80px;
  margin-right: 200px;
  margin-left: 350px;

}

ul li {
  list-style: none;
}

li {
  border: none;
  height: 55px;
  width: 155px;
  font-size: 25px;
}

.align {
  display: inline-block;
}

main {
  margin-left: 320px;
}

section {
  width: 500px;
  padding-left: 1px;
  padding-right: 1px;
}