html {
  background-color: #a3c9f0;
}

img {
  height: 300px;
  width: 500px;
  position: relative;
  border: 20px solid black;
}

div.navbar {
  margin-left: 500px;
  margin-right: 250px;
}

div.navfooter {
  margin-bottom: 0px;
  margin-left: 500px;
  margin-right: 250px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    display: inline;
}

main {
  text-align: center;
}

a {
 text-decoration: none;
}

a:link {
  color: #2b4f73;
}

a:visited {
  color: #b54077;
}

