html {
  background-color: #a3c9f0;
}

img {
  height: 300px;
  width: 500px;
  position: relative;
  border: 20px solid black;
}

div.navbar {
  margin-left: 500px;
}

div.navfooter {
  margin-bottom: 0px;
  margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

