html {
  background-color: #a3c9f0;
}

img {
  height: 100px;
  width: 300px;
}

div.navbar {
  margin: auto;
}

div.navfooter {
  margin-bottom: 0px;
  margin: auto;
}

ul {
  list-style: none;
  list-style-position: auto;
}

